body {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
}
h4,
section {
  border: 100cm darkseagreen;
}
img {
  display: inline-block;
  width: 10cm;
  height: 10cm;
  margin-left: auto;
  margin-right: auto;
}
